title {
    text-align: center;
    font-family: "Josefin Sans";
}

input[type="radio"] {
    display: none;
}

label {
    display: block;
    padding: 10px;
    margin: 5px 0;
    background-color: #f0f0f0;
    color: black;
    text-align: center;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 24px;
    font-family: "Josefin Sans";
}

label:hover {
    background-color: #fafafa;
}

.correct {
    background-color: #22c38e !important;
    cursor: default;
}

.incorrect {
    background-color: #f55670 !important;
    cursor: default;
}

input[type="radio"]:checked ~ label {
    pointer-events: none;
}
